// 知道宽度 
// 1 => 需要父元素已有高度      
.wrapper{
  position: relative;
  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
  }
}

.wrapper{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

// 未知宽度
// 1 => 需要父元素已有高度 
.wrapper{
  position: relative;
  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// 2 => 需要父元素已有高度
.wrapper{
  display: table;
  height: 100%;
  width: 100%;
  .box{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
} 

/* => 水平居中
margin法
需要满足三个条件:
元素定宽
元素为块级元素或行内元素设置display:block
元素的margin-left和margin-right都必须设置为auto*/
.wrapper{
  .box{
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}